<!DOCTYPE html>
<html>
  <head>
    <title>
      µGrowthDB{% block title %}{% endblock %}
    </title>

    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" sizes="72x72">

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/reset.css') }}"
        type="text/css"
        media="screen" />
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/sidebar.css') }}"
        type="text/css"
        media="screen" />
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/main.css') }}"
        type="text/css"
        media="screen" />

    <script src="{{ url_for('static', filename='js/vendor/jquery-3.7.1.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}" type="text/javascript"></script>
  </head>

  <body>
    <aside id="page_sidebar">
      <nav>
        <header>
          <img src={{ url_for('static', filename='images/logo_sidebar3.png') }} />
        </header>

        <ul class="nav-links">
          <li>
            <div class="icon">🏠</div>
            <a href="{{ url_for('index_page') }}" class="home-link">Home</a>
          </li>
          <li>
            <div class="icon">🔍</div>
            <a href="{{ url_for('search_page') }}">Search</a>
          </li>
          <li>
            <div class="icon">📈</div>
            <a href="{{ url_for('dashboard_page') }}">Dashboard</a>
          </li>
          <li>
            <div class="icon">📤</div>
            <a href="{{ url_for('upload_page') }}">Upload data</a>
          </li>
          <li>
            <div class="icon">❓</div>
            <a href="{{ url_for('help_page') }}">Help</a>
          </li>
          <li>
            <div class="icon">🥼</div>
            <a href="{{ url_for('about_page') }}">About us</a>
          </li>
        </ul>
      </nav>
    </aside>

    <main id="main">
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
