<!DOCTYPE html>
<html>
  <head>
    <title>
      µGrowthDB{% block title %}{% endblock %}
    </title>

    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" sizes="72x72">

    {% assets "css_bundle" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css" media="screen" />
    {% endassets %}

    {% assets "js_bundle" %}
    <script src="{{ ASSET_URL }}" type="text/javascript"></script>
    {% endassets %}
  </head>

  <body>
    <aside id="page-sidebar">
      <div class="close-sidebar">
        <a href="#">
          <img alt="Close sidebar" src="{{ url_for('static', filename='images/chevrons-left.svg') }}" />
        </a>
      </div>

      <header>
        <img style="min-width: 300px;" src={{ url_for('static', filename='images/logo_sidebar3.png') }} />
      </header>

      <nav>
        <ul class="nav-links">
          <li>
            <div class="icon">🏠</div>
            <a href="{{ url_for('index_page') }}" class="home-link">Home</a>
          </li>
          <li>
            <div class="icon">🔍</div>
            <a href="{{ url_for('search_page') }}">Search</a>
          </li>
          <li>
            <div class="icon">📈</div>
            <a href="{{ url_for('dashboard_page') }}">Dashboard</a>
          </li>
          <li>
            <div class="icon">📤</div>
            <a href="{{ url_for('upload_page') }}">Upload data</a>
          </li>
          <li>
            <div class="icon">❓</div>
            <a href="{{ url_for('help_page') }}">Help</a>
          </li>
          <li>
            <div class="icon">🥼</div>
            <a href="{{ url_for('about_page') }}">About us</a>
          </li>
        </ul>
      </nav>
    </aside>

    <main id="main">
      <div class="open-sidebar">
        <a href="#">
          <img alt="Open sidebar" src="{{ url_for('static', filename='images/chevrons-right.svg') }}" />
        </a>
      </div>

      {% block content %}{% endblock %}
    </main>
  </body>
</html>
