{% from 'pages/search/_result.html' import render_result %}

{% extends '_layout.html' %}

{% block title %}: Search{% endblock %}

{% block content %}
<header>
  <img height="100" src={{ url_for('static', filename='images/search_banner.png') }} />
</header>

<div class="container">
  <article>
    <p>
      Discover microbial growth studies and datasets by selecting one or more of
      the options. When conducting an advanced search, you can choose multiple
      logical operators to refine your query and extract precise information from
      the database.
    </p>

    <p>
      To download the results of your search, simply select the checkboxes next to
      the studies you wish to download and then click on "Download Data".
    </p>

    <p>
      <form action="{{ url_for('search_index_page') }}" method="POST" class="simple-form">
        {{ form.csrf_token }}

        <div class="form-row">
          <label>
            <span>Select an option:</span>
            {{ form.option(class="form-input-full") }}
          </label>

          <label class="flex-grow">
            <span>Enter text here:</span>
            {{ form.value(class="form-input-full", required="true") }}
          </label>
        </div>

        <div class="form-row">
          TODO advanced search
        </div>

        <div class="form-row">
          <input type="submit" value="Search Data" />
        </div>
      </form>

      {% if results: %}
      <ul>
        {% for result in results: %}
        <li>{{ render_result(result) }}</li>
        {% endfor %}
      </ul>
      {% elif error: %}
      <p>
        <div class="error-message">{{ error }}</div>
      </p>
      {% endif %}
    </p>
  </article>
</div>
{% endblock %}
