# Database files
src/*.sql

src/names.dmp
src/taxonomy_names.csv
src/filtered_names.json

# Server files
Data/
IntermediateFiles/

# ========================================================================

src/__pycache__/
src/__pycache__/*
