# Ignore __pycache__ globally:
__pycache__

# Ignore data files from uploads:
tmp_data/*

# Ignore route dump used for tooling purposes:
.routes.json

# Ignore _build from readthedocs when run locally
docs/_build/

# Ignore AutoAPI specific output (if necessary)
docs/api/

# Configuration contains passwords, copy config/database.toml.example:
db/config.toml

# Compiled assets:
static/build/*
static/.webassets-cache/*

# Micromamba environment
.micromamba/*

# Test coverage data
.coverage

# Streamlit ignores:
# ==================

# Database files
streamlit/src/*.sql
streamlit/.streamlit/secrets.toml

streamlit/src/names.dmp
streamlit/src/taxonomy_names.csv
streamlit/src/filtered_names.json
streamlit/.venv/
