# Database files
src/*.sql
.streamlit/secrets.toml

src/names.dmp
src/taxonomy_names.csv
src/filtered_names.json
.venv/
__pycache__/

# Server files
#Data/
IntermediateFiles/

# ========================================================================

src/__pycache__/
src/__pycache__/*

# Ignore our secrets
# secrets.toml
poetry.lock
pyproject.toml

app/templates/yaml_templates/

# Configuration contains passwords, copy config/database.toml.example:
config/database.toml
