Flask
Flask-Assets
Flask-WTF
cssmin
pandas
plotly
pytest
pytest-env
pytest-cov
openpyxl
humanize

# Database
sqlalchemy
pymysql
cryptography

# Deployment
gunicorn

# Streamlit app:
matplotlib
mysql-connector-python
prettytable
pyyaml
