Flask
Flask-Assets
Flask-WTF
cssmin
pandas
plotly
openpyxl
humanize
celery[redis]

# Database
sqlalchemy
SQLAlchemy-Utc
pymysql
cryptography

# Admin panel
flask-admin

# Deployment
gunicorn

# Testing
pytest
pytest-env
pytest-cov
freezegun

# Streamlit app:
# matplotlib
# mysql-connector-python
# prettytable
# pyyaml
