# Core
pandas
pyyaml
openpyxl
odfpy
simplejson
humanize

# Web
Flask
Flask-Assets
Flask-WTF
Flask-SQLAlchemy
cssmin
plotly
celery[redis]
flask-admin
gunicorn
requests

# Database
sqlalchemy
SQLAlchemy-Utc
pymysql
cryptography

# Testing
pytest
pytest-env
pytest-cov
freezegun

# Streamlit app:
# matplotlib
# mysql-connector-python
# prettytable
