{% extends '_layout.html' %}

{% block title %}: Metabolite with ChEBId:{{ chebi_id }}{% endblock %}

{% block content %}
  <div class="container">
    <article>
      <h2>{{ metabolite['metabo_name'].title() }}</h2>

      {% set image_url = "https://www.ebi.ac.uk/chebi/displayImage.do?defaultImage=true&imageIndex=0&chebiId={}".format(numeric_id) %}
      <img src="{{ image_url }}" alt="ChEBI default image" />

      <p>
        TODO information on metabolite with id {{ chebi_id }}

        <ul>
          <li>How common is it? Percentage of studies that include it?</li>
          <li>What other synonyms are there (fill in MetaboliteSynonyms table)</li>
          <li>Fetch and embed a description from CHEBI?</li>
        </ul>
      </p>

      <p>
        {% set chebi_url = "https://www.ebi.ac.uk/chebi/searchId.do?chebiId={}".format(chebi_id) %}
        More information at ChEBI: <a href="{{ chebi_url }}">{{ chebi_id }}</a>
      </p>
    </article>
  </div>
{% endblock %}
