{% from 'pages/upload/step1/_form.html' import render_step1_form %}
{% from 'pages/upload/step2/_form.html' import render_step2_form %}
{% from 'pages/upload/step3/_form.html' import render_step3_form %}
{% from 'pages/upload/step4/_form.html' import render_step4_form %}
{% from 'pages/upload/step5/_form.html' import render_step5_form %}
{% from 'pages/upload/step6/_form.html' import render_step6_form %}
{% from 'pages/upload/step7/_form.html' import render_step7_form %}

{% from 'pages/upload/step1/_status.html' import render_step1_status %}
{% from 'pages/upload/step2/_status.html' import render_step2_status %}
{% from 'pages/upload/step3/_status.html' import render_step3_status %}
{% from 'pages/upload/step4/_status.html' import render_step4_status %}
{% from 'pages/upload/step5/_status.html' import render_step5_status %}
{% from 'pages/upload/step6/_status.html' import render_step6_status %}
{% from 'pages/upload/step7/_status.html' import render_step7_status %}

{% from 'pages/upload/_user_submissions.html' import render_user_submissions %}
{% from 'utils/_post_button.html' import post_button %}

{% macro section_link(current_step, target_step, page) %}
  {% if target_step != current_step %}
    <a class="section-heading" href="{{ url_for(page) }}">
      {{ caller() }}

      <img src="{{ url_for('static', filename='images/icons/edit.svg') }}" />
    </a>
  {% else %}
    <h2 class="section-heading">
      {{ caller() }}
    </h2>
  {% endif %}
{% endmacro %}

{% extends '_layout.html' %}

{% block title %}: Upload{% endblock %}

{% block content %}
  {% set submission = submission_form.submission %}

  <div class="container upload-page">
    <h1>
      <span class="icon icon-emoji">📤</span>
      Upload Growth Data
    </h1>

    <article>
      {% if submission_form.step == 0 %}
        <p>
          Thank you for choosing to share your microbial growth data with us.
          Your commitment to sharing experimental data is essential for
          advancing our understanding of microbiome dynamics. Your contribution
          plays a vital role in driving research forward and enhancing our
          collective knowledge in this field.
        </p>

        <p>
          To successfully submit your data, please ensure that you follow the
          instructions provided in each of the following steps. Adhering to
          these instructions helps us maintain the quality of our database and
          ensures the accuracy and reliability of the information stored within
          it. Thank you for your cooperation in maintaining data integrity and
          reliability.
        </p>
      {% endif %}

      {% if g.current_user is none: %}
        <p class="warning-message">
          In order to upload your data, please
          <a href="{{ url_for("user_login_page") }}">log in</a>
          to the application using your
          {{ "https://orcid.org/"|external_link("ORCID iD") }}.
        </p>
      {% endif %}

      {% if user_submissions %}
        {{ render_user_submissions(user_submissions, submission) }}

        <br>

        <div class="flex-row">
          {{ post_button("New submission", url_for('new_submission_action'), class="flex-right") }}
        </div>
      {% endif %}

      <br>

      <div class="upload-steps">
        <div class="step-content step-1 {{ submission_form.html_step_classes(1) }}">
          {% call section_link(submission_form.step, 1, 'upload_step1_page') %}
            Step 1: Project and study information
          {% endcall %}

          {% if submission_form.step == 1 %}
            {{ render_step1_form(submission_form, submission) }}
          {% else %}
            {{ render_step1_status(submission) }}
          {% endif %}
        </div>

        <div class="step-content step-2 {{ submission_form.html_step_classes(2) }}">
          {% call section_link(submission_form.step, 2, 'upload_step2_page') %}
            Step 2: Microbial strains
          {% endcall %}

          {% if submission_form.step == 2 %}
            {{ render_step2_form(submission_form, upload_form) }}
          {% else %}
            {{ render_step2_status(submission_form, submission) }}
          {% endif %}
        </div>

        <div class="step-content step-3 {{ submission_form.html_step_classes(3) }}">
          {% call section_link(submission_form.step, 3, 'upload_step3_page') %}
            Step 3: Measurement methods
          {% endcall %}

          {% if submission_form.step == 3 %}
            {{ render_step3_form(submission_form, upload_form) }}
          {% else %}
            {{ render_step3_status(submission_form, submission) }}
          {% endif %}
        </div>

        <div class="step-content step-4 {{ submission_form.html_step_classes(4) }}">
          {% call section_link(submission_form.step, 4, 'upload_step4_page') %}
            Step 4: Compartments and communities
          {% endcall %}

          {% if submission_form.step == 4 %}
            {{ render_step4_form(submission_form, upload_form) }}
          {% else %}
            {{ render_step4_status(submission_form, submission) }}
          {% endif %}
        </div>

        <div class="step-content step-5 {{ submission_form.html_step_classes(5) }}">
          {% call section_link(submission_form.step, 5, 'upload_step5_page') %}
            Step 5: Experimental design
          {% endcall %}

          {% if submission_form.step == 5 %}
            {{ render_step5_form(submission_form, upload_form) }}
          {% else %}
            {{ render_step5_status(submission_form, submission) }}
          {% endif %}
        </div>

        <div class="step-content step-6 {{ submission_form.html_step_classes(6) }}">
          {% call section_link(submission_form.step, 6, 'upload_step6_page') %}
            Step 6: Data upload
          {% endcall %}

          {% if submission_form.step == 6 %}
            {{ render_step6_form(submission_form, errors) }}
          {% else %}
            {{ render_step6_status(submission) }}
          {% endif %}
        </div>

        <div class="step-content step-7 {{ submission_form.html_step_classes(7) }}">
          {% call section_link(submission_form.step, 7, 'upload_step7_page') %}
            Step 7: Publish
          {% endcall %}

          {% if submission_form.step == 7 %}
            {{ render_step7_form(submission_form, submission) }}
          {% else %}
            {{ render_step7_status(submission_form) }}
          {% endif %}
        </div>
      </div>
    </article>
  </div>
{% endblock %}
