{% from 'pages/upload/step3/_bioreplicate_form.html' import render_bioreplicate_form %}
{% from 'pages/upload/step3/_strain_form.html' import render_strain_form %}
{% from 'pages/upload/step3/_metabolite_form.html' import render_metabolite_form %}

{% macro render_step3_form(submission_form, upload_form) %}
  <p>
    Please describe the vessels (biological replicates) that you use in the
    study and how many time points you measured.
  </p>

  <br>

  <form
      class="simple-form"
      action="{{ url_for('upload_step3_page') }}"
      method="POST">

    {{ upload_form.csrf_token }}

    <div class="form-row full">
      <label>
        <div>Type of vessel used</div>
        {{ upload_form.vessel_type(class='form-input-blue') }}
      </label>

      <div class="vessel-count vessel-bottles">
        <label>
          <div>Number of bottles</div>
          {{ upload_form.bottle_count(class='form-input-blue') }}
        </label>
      </div>

      <div class="vessel-count vessel-agar_plates hidden">
        <label>
          <div>Number of plates</div>
          {{ upload_form.plate_count(class='form-input-blue') }}
        </label>
      </div>

      <div class="vessel-count vessel-well_plates vessel-mini_react hidden">
        <label>
          <div>Number of columns</div>
          {{ upload_form.column_count(class='form-input-blue') }}
        </label>

        <label>
          <div>Number of rows</div>
          {{ upload_form.row_count(class='form-input-blue') }}
        </label>
      </div>

      <label>
        <div>Number of measurement time-points</div>
        {{ upload_form.timepoint_count(class='form-input-blue form-input-full') }}
      </label>

      <label>
        <div>Time units</div>
        {{ upload_form.time_units(class='form-input-blue form-input-full') }}
      </label>
    </div>

    <p>
      For every type of growth measurement you performed, please add a new
      entry by using the buttons below. In the next step, you'll download a
      data template where the rows will each represent a biological replicate
      and a time point, and the columns will match the measurements from these
      techniques.
    </p>

    <br>

    {% for technique in submission_form.submission['studyDesign']['techniques']: %}
      {% if technique['subjectType'] == 'bioreplicate': %}
        {{ render_bioreplicate_form(data=technique, index=loop.index0) }}
      {% elif technique['subjectType'] == 'strain': %}
        {{ render_strain_form(data=technique, index=loop.index0) }}
      {% elif technique['subjectType'] == 'metabolite': %}
        {{ render_metabolite_form(submission_form, data=technique, index=loop.index0) }}
      {% endif %}
    {% endfor %}

    <div class="form-row">
      <p style="margin-top: 0; align-content: center;">
        Add a type of measurement included in the study:
      </p>

      <div class="flex-right flex-row flex-gap-10">
        <a
            href="#"
            class="white-button flex-row js-add js-add-bioreplicate"
            data-tippy-content="Growth measurements of entire communities of cells within the same vessel compartment.">
          <span class="icon icon-add"></span> Community
        </a>
        <a
          href="#"
          class="white-button flex-row js-add js-add-strains"
          data-tippy-content="Growth measurements for individiual species within a compartment.">
          <span class="icon icon-add"></span> Strains
        </a>
        <a
          href="#"
          class="white-button flex-row js-add js-add-metabolites"
          data-tippy-content="Measurements of metabolite concentrations during cell growth.">
          <span class="icon icon-add"></span> Metabolites
        </a>
      </div>
    </div>

    <template class="bioreplicate-form">
      {{ render_bioreplicate_form(data=None, index=None) }}
    </template>

    <template class="strain-form">
      {{ render_strain_form(data=None, index=None) }}
    </template>

    <template class="metabolite-form">
      {{ render_metabolite_form(submission_form, data=None, index=None) }}
    </template>

    <div class="form-row">
      <input
          type="submit"
          class="form-input-blue"
          value="Next" />
    </div>
  </form>

{% endmacro %}
