{% macro render_study(study, experiments) %}

<div class="columns-container">
  <aside class="experiments-column">
    <h2>Experiments</h2>

    {% for (identifier, description, bioreplicate_ids) in experiments: %}
    <div class="experiment">
      <h3>{{ identifier }}</h2>
      <p>{{ description }}</p>

      <p>
        {% for bioreplicate_id in bioreplicate_ids %}
        {% set key = "checkbox:{}:{}".format(identifier, bioreplicate_id) %}
        <div>
          <input type="checkbox" name="{{ key }}" id="{{ key }}" />
          <label for="{{ key }}">
            {{ bioreplicate_id }}
          </label>
        </div>
        {% endfor %}

        {% set key = "checkbox:{}:_average".format(identifier) %}
        <div>
          <input type="checkbox" name="{{ key }}" id="{{ key }}" />
          <label for="{{ key }}">
            Average for {{ identifier }}
          </label>
        </div>
      </p>
    </div>
    {% endfor %}
  </aside>

  <main class="chart-column">
    <div class="tabs js-tabs">
      <div class="tab-headers-container">
        <nav class="tab-headers">
          <span class="active">OD</span>
          <span>Plate Counts</span>
          <span>pH</span>
          <span>FC Counts</span>
          <span>Reads 16S rRNA Seq</span>
          <span>Metabolites</span>
        </nav>
      </div>

      <article class="tab-body active">
        Tab 1
      </article>

      <article class="tab-body">
        TODO: Single tab with dynamic content
      </article>
    </div>
  </main>
</div>

{% endmacro %}
