{% from 'pages/dashboard/_experiment.html' import render_experiment %}

{% extends '_layout.html' %}

{% block title %}: Visualization Dashboard{% endblock %}

{% block content %}
<div class="container dashboard-page">
  <h1>Visualize study data</h1>

  <article>
    <p>
      Search the study that you want to visualize. Select the Biological replicates
      from the experiments you want to plot. You can also download the raw data of
      the selected experiments by clicking in the right corner of the tables found on
      the expandable sections.
    </p>

    <p>
      You can visualize different plots corresponding to Optical density, Flow
      cytometry, Plate counts, 16S rRNA sequencing, and metabolite
      concentrations. By clicking on the camera icon at the right corner of
      each plot, the images can be saved locally on your computer as .png files.
    </p>

    <p>
      <form action="{{ url_for('dashboard_index_page') }}" method="GET" class="simple-form">
        <div class="form-row">
          <label class="full">
            <span>Study ID</span>
            <input
                type="text"
                name="studyId"
                value="{{ request.args['studyId'] }}"
                class="form-input-full form-input-blue" />
          </label>

          <div class="no-label">
            <input type="submit" value="Go!" />
          </div>
        </div>
      </form>
    </p>

    {% if studyName and studyId: %}
    <p>
      <h2>Experiments</h2>

      {% for experiment in experiments: %}
      {{ render_experiment(experiment, available_growth_measurements) }}
      {% endfor %}
    </p>
    {% elif studyId: %}
    <p>
      Study not found: {{ studyId }}
    </p>
    {% endif %}
  </article>
</div>
{% endblock %}
