{% from 'pages/upload/step2/_new_strain_form.html' import render_new_strain_form %}

{% macro render_step2_form(submission_form, upload_form) %}

  <p>
    Select all the microbial strains used in the study across all experiments.
    Start typing and pick taxa from the automatic completion list.
  </p>

  <p>
    If you do not find your microbial strains, define your own by clicking "Add
    new strain" and specifying its name and parent strain species.
  </p>

  <p>
    <form
        class="simple-form"
        action="{{ url_for('upload_step2_page') }}"
        method="POST">

      {{ upload_form.csrf_token }}

      <div class="form-row strain-select-wrapper">
        <label class="full">
          <span>Search microbial strain:</span>
          <select
              name="strains"
              multiple="multiple"
              data-placeholder="Example: Roseburia intestinalis"
              class="strain-select js-existing-strain-select">
            {% for taxon in submission_form.fetch_taxa(): %}
              <option value={{ taxon.tax_id }} selected="selected">
              {{ taxon.tax_names }} (NCBI:{{ taxon.tax_id }})
              </option>
            {% endfor %}
          </select>
        </label>
      </div>

      <div class="form-row">
        <ul class="strain-list">
          <li>Select strains from the list</li>
        </ul>
      </div>

      <div class="js-subform-list flex-column flex-gap-10">
        {% include 'pages/upload/step2/_subform_list.html' %}
      </div>

      <div class="form-row">
        <input type="submit" class="green-button" value="Next" />

        <div class="flex-right">
          <a href="#" class="white-button flex-row js-add-trigger">
            <span class="icon icon-add"></span> Add new strain
          </a>
        </div>
      </div>

      <template class="strain-list-item">
        <li>
          <strong>${name}</strong>
          (<a href="https://www.ncbi.nlm.nih.gov/datasets/taxonomy/${id}/" target="_blank">NCBI:${id}</a>)
        </li>
      </template>

      <template class="new-strain-parent-preview">
        <div>
          Parent strain: <strong>${name}</strong>
          (<a href="https://www.ncbi.nlm.nih.gov/datasets/taxonomy/${id}/" target="_blank">NCBI:${id}</a>)
        </div>
      </template>

      <template class="new-strain-form">
        {% set subform = upload_form.get_template('NewStrainForm') %}
        {{ render_new_strain_form(form=subform, submission_form=submission_form, index=None) }}
      </template>
    </form>
  </p>

{% endmacro %}
