{% from 'pages/upload/step2/_new_strain_form.html' import render_new_strain_form %}

{% macro render_step2_form(submission_form, submission) %}

  <p>
    Select all the microbial strains used in the study across all experiments.
    Start typing and pick taxa from the automatic completion list.
  </p>

  <p>
    If you do not find your microbial strains, define your own by clicking "Add
    new strain" and specifying its name and parent strain species.
  </p>

  <p>
    <form
        class="simple-form"
        action="{{ url_for('upload_step2_page') }}"
        method="POST">
      <div class="form-row strain-select-wrapper">
        <label class="full">
          <span>Search microbial strain:</span>
          <select
              name="strains"
              multiple="multiple"
              data-placeholder="Example: Roseburia intestinalis"
              class="strain-select js-multiple-strain-select">
            {% for taxon in submission_form.fetch_taxa(): %}
              <option value={{ taxon.tax_id }} selected="selected">
              {{ taxon.tax_names }} (NCBI:{{ taxon.tax_id }})
              </option>
            {% endfor %}
          </select>
        </label>
      </div>

      <div class="form-row">
        <ul class="strain-list">
          <li>Select strains from the list</li>
        </ul>
      </div>

      {% for new_strain in submission_form.fetch_new_strains(): %}
        {{ render_new_strain_form(data=new_strain, prefix='new_strains-{}-'.format(loop.index0)) }}
      {% endfor %}

      <div class="form-row">
        <input type="submit" class="green-button" value="Next" />

        <div class="flex-right">
          <a href="#" class="white-button js-add-strain">+ Add new strain</a>
        </div>
      </div>

      <template class="strain-list-item">
        <li>
          <strong>${name}</strong>
          (<a href="https://www.ncbi.nlm.nih.gov/datasets/taxonomy/${id}/" target="_blank">NCBI:${id}</a>)
        </li>
      </template>

      <template class="new-strain-parent-preview">
        <div>
          Parent strain: <strong>${name}</strong>
          (<a href="https://www.ncbi.nlm.nih.gov/datasets/taxonomy/${id}/" target="_blank">NCBI:${id}</a>)
        </div>
      </template>

      <template class="new-strain">
        {{ render_new_strain_form(data=None, prefix='') }}
      </template>
    </form>
  </p>

{% endmacro %}
