{% macro render_new_strain_form(data, prefix) %}

  <div class="new-strain-container js-new-strain-container">
    {% if g.current_user: %}
      <input
          name="{{ prefix }}userUniqueID"
          type="hidden"
          value="{{ g.current_user.uuid }}" />
    {% endif %}

    <div class="form-row">
      <label style="width: 50%;">
        <span>Name of the microbial strain:</span>
        <input
            name="{{ prefix }}name"
            type="text"
            class="form-input-full form-input-blue"
            value="{{ data['name'] if data }}"
            required />
      </label>

      <label style="width: 50%;">
        <span class="species-text">Species:</span>
        <select
            name="{{ prefix }}species"
            class="form-input-full form-input-blue js-single-strain-select"
            required>
          {% if data %}
            <option value="{{ data['species'] }}">
              {{ data['species_name'] }} (NCBI:{{ data['species'] }})
            </option>
          {% endif %}
        </select>
      </label>
    </div>

    <div class="form-row">
      <label class="full">
        <div>Description</div>
        <textarea
            name="{{ prefix }}description"
            class="form-input-full form-input-blue"
            required
            rows=2>{{ data['description'] if data }}</textarea>
      </label>

      <div class="no-label">
        <a href="#" class="white-button js-remove-new-strain">🗑 Remove</a>
      </div>
    </div>

    <div class="form-row js-parent-preview">
    </div>
  </div>

{% endmacro %}
