{% macro render_new_strain_form(form, submission_form, index) %}
  {% set submission = submission_form.submission %}

  {% if index is none: %}
    {% set prefix = '' %}
  {% else: %}
    {% set prefix = 'new_strains-{}-'.format(index)  %}
  {% endif %}

  <div class="subform-container new-strain-container js-subform-container">
    {% if g.current_user: %}
      <input
          name="{{ prefix }}userUniqueID"
          type="hidden"
          value="{{ g.current_user.uuid }}" />
    {% endif %}

    <div class="form-row">
      <label style="width: 50%;">
        <div class="required">Name of the microbial strain:</div>
        {{ form['name'](class='form-input-blue form-input-full') }}
      </label>

      <label style="width: 50%;">
        <span class="species-text">Species:</span>
        <select
            name="{{ prefix }}species"
            class="form-input-full form-input-blue js-single-strain-select"
            required>
          {% for new_strain_data in submission.studyDesign['new_strains'] %}
            <option value="{{ new_strain_data['species'] }}">
              {{ new_strain_data['species_name'] }} (NCBI:{{ new_strain_data['species'] }})
            </option>
          {% endfor %}
        </select>
      </label>
    </div>

    <div class="form-row">
      <label class="full">
        <div>Description</div>
        {{ form['description'](class='form-input-blue form-input-full', rows=2) }}
      </label>

      <div class="no-label">
        <a href="#" class="white-button flex-row js-remove-trigger">
          <span class="icon icon-remove"></span> Remove
        </a>
      </div>
    </div>

    <div class="form-row js-parent-preview">
    </div>
  </div>

{% endmacro %}
