{% macro render_chart_form(form) %}

  {% set study = form.study %}

  <div class="form-row">
    <label>
      <span>Experiment:</span>
      <select name="experimentId" class="form-input-blue full">
        {% for experiment in study.experiments: %}
          <option value="{{ experiment.id }}">
            {{- experiment.name }}: {{ experiment.description -}}
          </option>
        {% endfor %}
      </select>
    </label>
  </div>

  {% for experiment in study.experiments: %}
    <div
        class="experiment-container hidden js-experiment-container"
        data-experiment-id="{{ experiment.id }}">
      <div class="experiment">
        <p>{{ experiment.description }}</p>

        <div class="form-row">
          <label class="full">
            <span>Technique:</span>
            <select name="techniqueId" class="form-input-blue full">
              {% for technique in study.measurementTechniques: %}
                <option value="{{ technique.id }}" data-subject-type="{{ technique.subjectType }}">
                {{- technique.long_name_with_subject_type -}}
                </option>
              {% endfor %}
            </select>
          </label>
        </div>

        <div class="form-row hidden js-bioreplicate-row">
          <label class="full">
          <span>Bioreplicate and compartment:</span>
          <select name="bioreplicateCompartmentId" class="form-input-blue full">
            {% for bioreplicate in experiment.bioreplicates: %}
              {% for compartment in experiment.compartments: %}
                <option value="{{ bioreplicate.id }}|{{ compartment.id }}">
                {{- bioreplicate.name }}, compartment {{ compartment.name -}}
                </option>
              {% endfor %}
            {% endfor %}
          </select>
        </div>

        <br>

        {% for measurementContext in experiment.measurementContexts if measurementContext.has_measurements(): %}
          {% set subjectType = measurementContext.subjectType %}
          {% set subject     = measurementContext.get_subject(g.db_session) %}

          {% set key = "measurementContext|{}".format(measurementContext.id) %}

          <div
              class="form-row hidden js-technique-row"
              data-technique-id="{{ measurementContext.techniqueId }}"
              data-bioreplicate-id="{{ measurementContext.bioreplicateId }}"
              data-compartment-id="{{ measurementContext.compartmentId }}">
            <input type="checkbox" name="{{ key }}" id="{{ key }}" />
            <label for="{{ key }}">
              {% if subjectType == 'bioreplicate' %}
                {{ subject.name }}<sub>{{ measurementContext.compartment.name }}</sub>
              {% else: %}
                {{ subject.name }}
              {% endif %}
            </label>
          </div>
        {% endfor %}

        <div class="form-row margin-top-10">
          <a href="#" class="white-button clear-chart js-clear-chart">Clear</a>
        </div>
      </div>
    </div>
  {% endfor %}

{% endmacro %}
