{% macro render_modeling_form(study) %}

  <input type="hidden" name="selectedMeasurementContextId" />

  <div class="form-row">
    <label>
      <span>Experiment:</span>
      <select name="experimentId" class="form-input-blue full">
        {% for experiment in study.experiments: %}
          <option value="{{ experiment.id }}">
          {{- experiment.name }}: {{ experiment.description -}}
          </option>
        {% endfor %}
      </select>
    </label>
  </div>

  {% for experiment in study.experiments: %}
    <div
        class="experiment-container hidden js-experiment-container"
        data-experiment-id="{{ experiment.id }}">
      <div class="experiment">
        <p>{{ experiment.description }}</p>

        <div class="form-row">
          <label class="full">
            <span>Measurement technique:</span>
            <select name="techniqueId" class="form-input-blue full">
              {% for technique in study.measurementTechniques if technique.is_growth: %}
                <option value="{{ technique.id }}" data-subject-type="{{ technique.subjectType }}">
                {{- technique.long_name_with_subject_type -}}
                </option>
              {% endfor %}
            </select>
          </label>
        </div>

        <div class="form-row hidden js-bioreplicate-row">
          <label class="full">
          <span>Bioreplicate and compartment:</span>
          <select name="bioreplicateCompartmentId" class="form-input-blue full">
            {% for bioreplicate in experiment.bioreplicates: %}
              {% for compartment in experiment.compartments: %}
                <option value="{{ bioreplicate.id }}|{{ compartment.id }}">
                {{- bioreplicate.name }}, compartment {{ compartment.name -}}
                </option>
              {% endfor %}
            {% endfor %}
          </select>
        </div>

        <br>

        {% for measurementContext in experiment.measurementContexts if measurementContext.technique.is_growth: %}
          {% set subjectType = measurementContext.subjectType %}
          {% set subject     = measurementContext.get_subject(g.db_session) %}

          {% set key = "measurementContext|{}".format(measurementContext.id) %}

          <div
              class="form-row hidden js-technique-row"
              data-technique-id="{{ measurementContext.techniqueId }}"
              data-bioreplicate-id="{{ measurementContext.bioreplicateId }}"
              data-compartment-id="{{ measurementContext.compartmentId }}">
            <input type="checkbox" name="{{ key }}" id="{{ key }}" class="js-measurement-toggle" />
            <label for="{{ key }}">
              {% if subjectType == 'bioreplicate' %}
                {{ subject.name }}<sub>{{ measurementContext.compartment.name }}</sub>
              {% else: %}
                {{ subject.name }}
              {% endif %}
            </label>

            {% set edit_url = url_for(
              "study_modeling_chart_fragment",
              studyId=study.publicId,
              measurementContextId=measurementContext.id,
            ) %}

            <a href="{{ edit_url }}" class="flex-right js-edit-trigger">
              <div class="icon icon-edit"></div>
            </a>
          </div>
        {% endfor %}

        <div class="form-row margin-top-10">
          <a href="#" class="white-button js-select-all">Select all</a>
          <a href="#" class="white-button flex-right js-clear-chart">Clear</a>
        </div>
      </div>
    </div>
  {% endfor %}

  <hr>

  <div class="modeling-fields">
    <div class="form-row">
      <label class="full">
        <span>Modeling type</span>
        <select name="modelingType" class="form-input-blue form-input-full">
          <option value="easy_linear">"Easy linear" model</option>
          <option value="baranyi_roberts">Baranyi-Roberts model</option>
        </select>
      </label>
    </div>

    <h3>Calculation status</h3>

    <div class="help">
      <div class="js-calculation-result">
        Pending, submit the form to start calculation process.
      </div>
    </div>

    <div class="flex-column flex-gap-10">
      <input type="submit" class="flex-end" value="Calculate" />
    </div>
  </div>

{% endmacro %}
