.comparison-page {
  .data-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .targets-table {
      width: 100%;
    }

    .table-container {
      overflow: scroll;
    }

    .chart-row {
      width: 100%;
      overflow-x: hidden;
      border: 2px solid var(--border-color);
      border-radius: var(--border-radius);
    }

    .chart-placeholder {
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 52px;
      opacity: 0.5;
    }
  }
}
