.study-visualize-page {
  .chart-form {
    margin-top: 20px;
  }

  .form-input-blue {
    padding: 0.5rem !important;
  }

  .columns {
    display: flex;
    flex-direction: row;
    column-gap: 10px;

    .controls-column {
      width: 30%;
    }

    .chart-column {
      width: 70%;
      overflow-x: hidden;
    }
  }

  .experiment {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
  }
}
