.upload-page {
  .user-submissions {
    ul {
      padding-left: 0;
    }
    li {
      border: 2px solid #eee;
      border-radius: var(--border-radius);
      padding: 10px;
      list-style: none;
      margin-bottom: 10px;

      h4 {
        margin: 0;
      }
    }
    tr.published {
      background-color: #eee;
    }
    tr.current {
      background-color: var(--light-blue);
    }
  }

  .upload-steps .step-content.active {
    padding-bottom: 20px;
  }

  .upload-steps .section-heading {
    font-size: 22px;
    border-bottom: 2px solid rgba(7, 25, 82, 0.1);
    display: block;
    text-decoration: none;

    img { float: right; }
  }
  .upload-steps h2 {
    padding-bottom: 10px;
  }

  .upload-steps .step-content.active h2 {
    color: var(--dark-blue);
  }

  .upload-steps .step-content.disabled h2 {
    opacity: 0.6;
  }

  .upload-status {
    opacity: 0.6;
    padding-left: 0;
  }

  .upload-status li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 4px;

    span {
      white-space: nowrap;
    }

    &.complete .icon {
      background-image: url('/static/images/icons/square-green-check.svg');
    }
    &.incomplete .icon {
      background-image: url('/static/images/icons/square-orange-minus.svg');
    }
  }

  .subform-container {
    h3 {
      margin-top: 0;
    }

    border: 2px solid var(--border-color);
    &.new {
      border-style: dashed;
    }

    border-radius: var(--border-radius);
    padding: 10px;
  }

  .step-1 {
    .column {
      width: 50%;
    }
  }

  .step-4 {
    .form-row {
      flex: 1;
    }

    .form-row.form-row-4 {
      label {
        width: 22%;
        display: flex;
        flex-direction: column;
      }
    }
  }

  .submission-forms {
    margin-top: 20px;
  }

  .submission-type-row {
    align-items: flex-start;
    gap: 10px;
  }

  .columns {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
  }

  .file-upload-container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    background-color: var(--light-blue);
    border-radius: var(--border-radius);
    padding: 16px;
    margin-top: 10px;
    border: 2px solid var(--light-blue);

    &.drop-hover {
      border: 2px dashed var(--border-color);
    }

    .instructions {
      display: flex;
      flex-direction: column;
    }

    .hint {
      opacity: 0.6;
      font-size: 14px;
    }

    .upload-button {
      cursor: pointer;
    }
  }

  .preview {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  .form-icon {
    float: right;
  }
}
