.upload-page {
  .user-submissions {
    ul {
      padding-left: 0;
    }
    li {
      border: 2px solid #eee;
      border-radius: var(--border-radius);
      padding: 10px;
      list-style: none;
      margin-bottom: 10px;

      h4 {
        margin: 0;
      }
    }
    li.current {
      border: 2px solid green;
    }
  }

  .upload-steps .step-content.active {
    padding-bottom: 20px;
  }

  .upload-steps .section-heading {
    font-size: 22px;
    border-bottom: 2px solid rgba(7, 25, 82, 0.1);
    display: block;
    text-decoration: none;

    img { float: right; }
  }
  .upload-steps h2 {
    padding-bottom: 10px;
  }

  .upload-steps .step-content.active h2 {
    color: var(--dark-blue);
  }

  .upload-steps .step-content.disabled h2 {
    opacity: 0.6;
  }

  .upload-status {
    opacity: 0.6;
    padding-left: 0;
  }

  .upload-status li {
    list-style: none;
    display: flex;
    align-items: center;

    .icon {
      width: 18px;
      height: 18px;
      margin-right: 4px;
      background-size: cover;
    }

    &.complete .icon {
      background-image: url('/static/images/green-check.svg');
    }
    &.incomplete .icon {
      background-image: url('/static/images/orange-minus.svg');
    }
  }

  .step-1 {
    .column {
      width: 50%;
    }
  }

  .step-3 {
    .technique-container {
      h3 {
        margin-top: 0;
      }

      border: 2px solid #eee;
      border-radius: var(--border-radius);
      padding: 10px;
    }
  }

  .submission-forms {
    margin-top: 20px;
  }

  .submission-type-row {
    align-items: flex-start;
    gap: 10px;
  }

  .columns {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
  }

  .new-strain-container {
    border: 2px dashed var(--border-color);
    border-radius: var(--border-radius);
    padding: 10px;
  }

  .file-upload-container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    background-color: var(--light-blue);
    border-radius: var(--border-radius);
    padding: 16px;
    margin-top: 10px;
    border: 2px solid var(--light-blue);

    &.drop-hover {
      border: 2px dashed var(--border-color);
    }

    .instructions {
      display: flex;
      flex-direction: column;
    }

    .hint {
      opacity: 0.6;
      font-size: 14px;
    }

    .upload-button {
      cursor: pointer;
    }
  }

  .preview {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
}
