{% from 'utils/_dataframe.html' import render_dataframe %}
{% from 'utils/_form_errors.html' import render_form_errors %}

{% macro render_spreadsheet_preview(excel_file, errors) %}

  {{ render_form_errors(errors) }}

  {% set sheets = excel_file.extract_sheets() %}

  <div class="form-row header">
    <div>
      <span class="icon">📄 </span>
      {% if excel_file.id is none: %}
        {{ excel_file.filename }}
      {% else: %}
        <a href="{{ url_for('download_excel_file', id=excel_file.id) }}">
          {{ excel_file.filename }}
        </a>
      {% endif %}
      {{ excel_file.humanized_size }}
    </div>

    <select class="form-input-blue form-input-full">
      {% for name in sheets.keys(): %}
        <option>{{ name }}</option>
      {% endfor %}
    </select>
  </div>

  {% for (name, sheet) in sheets.items() %}
    <div class="form-row hidden dataframe-container js-sheet js-sheet-{{ name|replace(' ', '-') }}">
      {{ render_dataframe(sheet) }}
    </div>
  {% endfor %}

{% endmacro %}
