{% macro render_perturbation_form(form, submission_form, index, experimentIndex) %}
  {% set submission = submission_form.submission %}

  {% if index is none: %}
    {% set prefix = '' %}
  {% else: %}
    {% set prefix = 'experiments-{}-perturbations-{}'.format(experimentIndex, index)  %}
  {% endif %}

  <div class="compact-subform-container js-subform-container">
    <div class="form-row">
      <label class="full">
        <div class="required">Description</div>
        {{ form['description'](class='form-input-blue form-input-full', rows=3) }}
      </label>

      <label class="full">
        <div class="required">Start timepoint</div>
        {{ form.startTimepoint(class='form-input-blue form-input-full', min=1, max=submission.studyDesign['timepoint_count']) }}
        <div class="help">
          Timepoint of the change, from 1 to {{ submission.studyDesign['timepoint_count'] }}.
        </div>
      </label>

      <div class="no-label flex-right">
        <a href="#" class="white-button flex-row js-remove-trigger">
          <span class="icon icon-remove"></span>
        </a>
      </div>
    </div>

    <div class="form-row">
      <div class="no-label full">
        <h4>Compartment replacement</h4>

        <div class="help" style="font-size: 14px">
          Change in environmental conditions replacing one type of compartment with another
        </div>
      </div>

      <label class="full">
        <div>Removed compartment</div>
        <select
            name="{{ prefix }}removedCompartmentName"
            class="js-single-select">
          <option value="">
          ---
          </option>

          {% set compartment_name = form.data['removedCompartmentName'] %}

          {% for compartment_data in submission.studyDesign['compartments']: %}
            <option
                value="{{ compartment_data['name'] }}"
                {{ "selected" if compartment_name == compartment_data['name'] }}>
              {{ compartment_data['name'] }}
            </option>
          {% endfor %}
        </select>
      </label>

      <label class="full">
        <div>Added compartment</div>
        <select
            name="{{ prefix }}addedCompartmentName"
            class="js-single-select">
          <option value="">
          ---
          </option>

          {% set compartment_name = form.data['addedCompartmentName'] %}

          {% for compartment_data in submission.studyDesign['compartments']: %}
            <option
                value="{{ compartment_data['name'] }}"
                {{ "selected" if compartment_name == compartment_data['name'] }}>
              {{ compartment_data['name'] }}
            </option>
          {% endfor %}
        </select>
      </label>
    </div>

    <div class="form-row">
      <div class="no-label full">
        <h4>Change in community</h4>

        <div class="help" style="font-size: 14px">
          Adding or removing strains in the compartment
        </div>
      </div>

      <label class="full">
        <div>Old community</div>
        <select
            name="{{ prefix }}oldCommunityName"
            class="js-single-select">
          <option value="">
          ---
          </option>

          {% set community_name = form.data['oldCommunityName'] %}

          {% for community_data in submission.studyDesign['communities']: %}
            <option
                value="{{ community_data['name'] }}"
                {{ "selected" if community_name == community_data['name'] }}>
              {{ community_data['name'] }}
            </option>
          {% endfor %}
        </select>
      </label>

      <label class="full">
        <div>New community</div>
        <select
            name="{{ prefix }}newCommunityName"
            class="js-single-select">
          <option value="">
          ---
          </option>

          {% set community_name = form.data['newCommunityName'] %}

          {% for community_data in submission.studyDesign['communities']: %}
            <option
                value="{{ community_data['name'] }}"
                {{ "selected" if community_name == community_data['name'] }}>
              {{ community_data['name'] }}
            </option>
          {% endfor %}
        </select>
      </label>
    </div>
  </div>

{% endmacro %}
