{% extends '_layout.html' %}

{% block title %}: Visualization Dashboard{% endblock %}

{% block content %}
<div class="container dashboard-page">
  <h1>Visualize study data</h1>

  <article>
    <p>
      Search the study that you want to visualize. Select the Biological replicates
      from the experiments you want to plot. You can also download the raw data of
      the selected experiments by clicking in the right corner of the tables found on
      the expandable sections. You can visualize different plots corresponding to
      Optical density, Flow cytometry, Plate counts, 16S rRNA sequencing, and
      metabolites concentrations. By clicking of the camera icon at the right corner
      of each plot, the images can be save locally in your computer as .png files.
    </p>

    <p>
      <form action="{{ url_for('dashboard_index_page') }}" method="GET" class="simple-form">
        <div class="form-row">
          <label class="full">
            <span>Study ID</span>
            <input
                type="text"
                name="studyId"
                required="true"
                placeholder="Enter the Study ID whose data you want to visualize"
                class="form-input-full" />
          </label>

          <div class="no-label">
            <input type="submit" value="Go!" />
          </div>
        </div>
      </form>
    </p>
  </article>
</div>
{% endblock %}
