{% extends '_layout.html' %}

{% block title %}: Search{% endblock %}

{% block content %}
<header>
  <img height="100" src={{ url_for('static', filename='images/search_banner.png') }} />
</header>

<div class="container">
  <article>
    <p>
      Discover microbial growth studies and datasets by selecting one or more of
      the options. When conducting an advanced search, you can choose multiple
      logical operators to refine your query and extract precise information from
      the database.
    </p>

    <p>
      To download the results of your search, simply select the checkboxes next to
      the studies you wish to download and then click on "Download Data".
    </p>

    <p>
      TODO form
    </p>
  </article>
</div>
{% endblock %}
