{% extends '_layout.html' %}

{% block title %}: Upload{% endblock %}

{% block content %}
<header>
  <img height="100" src={{ url_for('static', filename='images/upload_banner.png') }} />
</header>

<div class="container upload-page">
  <article>
    <p>
      Thank you for choosing to share your microbial growth data with us. Your
      commitment to sharing experimental data is essential for advancing our
      understanding of microbiome dynamics. Your contribution plays a vital
      role in driving research forward and enhancing our collective knowledge
      in this field.
    </p>

    <p>
      To successfully submit your data, please ensure that you follow the
      instructions provided in each of the following steps. Adhering to these
      instructions helps us maintain the quality of our database and ensures
      the accuracy and reliability of the information stored within it. Thank
      you for your cooperation in maintaining data integrity and reliability.
    </p>

    <div class="upload-steps">
      <div class="step-content step-1 active">
        <h2>Step 1: Enter project and study information</h2>

        <p>Data Submission Options:</p>

        <ul>
          <li>
            <strong>Add a new study to a new project:</strong> Choose this
            option if you're uploading study data from a new, non-existent
            project.
          </li>
          <li>
            <strong>Add a new study to a previous project:</strong> Choose this
            option if you're adding a new study to an already existing
            project.
          </li>
          <li>
            <strong>Add a new version of a study to a previous project:</strong>
            Choose this option if you're updating an existing study in an
            already existing project.
          </li>
        </ul>

        <p>
          <strong>Private study ID:</strong> Please provide the unique study ID
          of the previous study you wish to update. This ensures continuity and
          helps us maintain the database up to date.
        </p>

        <p>
          <strong>Private project ID:</strong> Please provide the unique
          project ID of the existing project where you wish to add a new study
          or update a previously created study.
        </p>

        <p>
          If you do not remember the unique IDs please follow the instructions
          in (TODO link).
        </p>

        <p>
          <select class="form-input-blue js-submission-type">
            <option value="">Choose an option</option>
            <option value="new-project">Add a new study to a new project</option>
            <option value="new-study">Add a new study to a previous project</option>
            <option value="update-study">Add a new version of a study to a previous project</option>
          </select>
        </p>

        <div class="submission-forms">
          <form class="simple-form hidden" id="form-new-project">
            <div class="form-row">
              <label class="full">
                <span>Project name:</span>
                <input
                    type="text"
                    name="project-name"
                    id="project-name"
                    class="form-input-full form-input-blue"
                    placeholder="1. Provide a name for your project" />
            </div>

            <div class="form-row">
              <label class="full">
                <span>Project description:</span>
                <textarea
                    name="project-description"
                    id="project-description"
                    class="form-input-full form-input-blue"
                    placeholder="2. Provide a project description"></textarea>
            </div>

            <div class="form-row">
              <input type="submit" value="Create project" />
            </div>
          </form>

          <form class="simple-form hidden" id="form-new-study">
            <div class="form-row">
              <label class="full">
                <span>Private project ID:</span>
                <input
                    type="text"
                    name="project-uuid"
                    class="form-input-full form-input-blue"
                    placeholder="1. Provide the private project ID" />
              </label>
            </div>

            <div class="form-row">
              <input type="submit" value="Verify private ID" />
            </div>
          </form>

          <form class="hidden simple-form" id="form-update-study">
            <div class="form-row">
              <label class="full">
                <span>Private project ID:</span>
                <input
                    type="text"
                    name="project-uuid"
                    class="form-input-full form-input-blue"
                    placeholder="1. Provide the private project ID" />
              </label>
            </div>

            <div class="form-row">
              <label class="full">
                <span>Private study ID:</span>
                <input
                    type="text"
                    name="study-uuid"
                    class="form-input-full form-input-blue"
                    placeholder="1. Provide the private study ID" />
              </label>
            </div>

            <div class="form-row">
              <input type="submit" value="Verify private IDs" />
            </div>
          </form>
        </div>
      </div>

      <div class="step-content step-2 disabled">
        <h2>Step 2: Pick microbial strains</h2>
      </div>

      <div class="step-content step-3 disabled">
        <h2>Step 3: Download templates</h2>
      </div>

      <div class="step-content step-4 disabled">
        <h2>Step 4: Upload data</h2>
      </div>

      <div class="step-content step-5 disabled">
        <h2>Step 5: Publish data</h2>
      </div>
    </div>
  </article>
</div>
{% endblock %}
