{% from 'pages/upload/step4/_compartment_form.html' import render_compartment_form %}
{% from 'pages/upload/step4/_community_form.html' import render_community_form %}

{% macro render_step4_form(submission_form, upload_form) %}

  <form
      class="simple-form"
      action="{{ url_for('upload_step4_page') }}"
      method="POST">
    {{ upload_form.csrf_token }}

    <section class="js-compartment-section flex-column flex-gap-10">
      <div>
        <p>
          Describe the physical containers of microbial communities as
          "compartments". For each different combination of environmental conditions,
          assign them a name and you'll associate these compartments to experiments
          in the next step.
        </p>

        <p>
          You might have a single compartment per vessel, but it's also possible to
          define e.g. broth and mucin beads floating inside as separate
          "compartments" that you measure separately as well.
        </p>

        <p>
          To describe the medium, it is recommended to provide a link to
          <a target="_blank" href="https://mediadive.dsmz.de/media">MediaDive</a>.
          You can define a custom medium via their
          <a target="_blank" href="https://mediadive.dsmz.de/docs/medium-builder">medium builder</a>.
        </p>
      </div>

      <div class="js-subform-list flex-column flex-gap-10">
        {% include 'pages/upload/step4/_compartment_subform_list.html' %}
      </div>

      <div class="form-row flex-right flex-row">
        <a href="#" class="white-button flex-row js-add-trigger">
          <span class="icon icon-add"></span> Compartment
        </a>
      </div>
    </section>

    <section class="js-community-section flex-column flex-gap-10">
      <div>
        <p>
          Define all communities included in your experiments based on the strains
          you entered in step 2. If you've missed a strain you use, you can go back
          to that step and add it.
        </p>

        <p>
          Each experiment will be defined with a single community. If your
          experiment involves changing the species composition (e.g. adding a new
          strain) during the experiment, you will be able to describe that by
          adding a perturbation from one defined community to another.
        </p>
      </div>

      <div class="js-subform-list flex-column flex-gap-10">
        {% include 'pages/upload/step4/_community_subform_list.html' %}
      </div>

      <div class="form-row flex-right flex-row">
        <a href="#" class="white-button flex-row js-add-trigger">
          <span class="icon icon-add"></span> Community
        </a>
      </div>

      <div class="form-row">
        <input
            type="submit"
            class="form-input-blue"
            value="Next" />
      </div>
    </section>

    <template class="compartment-form">
      {% set subform = upload_form.get_template('CompartmentForm') %}
      {{ render_compartment_form(form=subform, index=None) }}
    </template>

    <template class="community-form">
      {% set subform = upload_form.get_template('CommunityForm') %}
      {{ render_community_form(form=subform, submission_form=submission_form, index=None) }}
    </template>
  </form>

{% endmacro %}
