{% from 'pages/upload/step1/_status.html' import render_step1_status %}

{% macro render_step1_form() %}

{% if session['project_uuid'] %}
{{ render_step1_status()  }}
{% else %}
{% include 'pages/upload/step1/_info.html' %}
{% endif %}

<p>
  <select class="form-input-blue js-submission-type">
    <option value="">Choose an option</option>
    <option value="new-project">Add a new study to a new project</option>
    <option value="new-study">Add a new study to a previous project</option>
    <option value="update-study">Add a new version of a study to a previous project</option>
  </select>
</p>

<div class="submission-forms">
  <form
      method="POST"
      action="{{ url_for('submit_step_1_upload') }}"
      class="simple-form hidden"
      id="form-new-project">
    <input type="hidden" name="submission-type" value="new-project" />

    <div class="form-row">
      <label class="full">
        <span>Project name:</span>
        <input
            type="text"
            name="project-name"
            id="project-name"
            class="form-input-full form-input-blue"
            placeholder="1. Provide a name for your project" />
    </div>

    <div class="form-row">
      <label class="full">
        <span>Project description:</span>
        <textarea
            name="project-description"
            id="project-description"
            class="form-input-full form-input-blue"
            placeholder="2. Provide a project description"></textarea>
    </div>

    <div class="form-row">
      <input type="submit" value="Create project" />
    </div>
  </form>

  <form class="simple-form hidden" id="form-new-study">
    <input type="hidden" name="submission-type" value="new-study" />

    <div class="form-row">
      <label class="full">
        <span>Private project ID:</span>
        <input
            type="text"
            name="project-uuid"
            class="form-input-full form-input-blue"
            placeholder="1. Provide the private project ID" />
      </label>
    </div>

    <div class="form-row">
      <input type="submit" value="Verify private ID" />
    </div>
  </form>

  <form class="hidden simple-form" id="form-update-study">
    <input type="hidden" name="submission-type" value="update-study" />

    <div class="form-row">
      <label class="full">
        <span>Private project ID:</span>
        <input
            type="text"
            name="project-uuid"
            class="form-input-full form-input-blue"
            placeholder="1. Provide the private project ID" />
      </label>
    </div>

    <div class="form-row">
      <label class="full">
        <span>Private study ID:</span>
        <input
            type="text"
            name="study-uuid"
            class="form-input-full form-input-blue"
            placeholder="1. Provide the private study ID" />
      </label>
    </div>

    <div class="form-row">
      <input type="submit" value="Verify private IDs" />
    </div>
  </form>
</div>

{% endmacro %}
