{% macro render_step4_status(submission) %}

  <ul class="upload-status">
    {% if submission.studyFileId: %}
      <li class="complete">
        <span class="icon"></span>
        Study design uploaded:
        <code class="inline">{{ submission.studyFile.filename }}</code>
      </li>
    {% else %}
      <li class="incomplete">
        <span class="icon"></span> Study design not uploaded
      </li>
    {% endif %}

    {% if submission.dataFileId: %}
      <li class="complete">
        <span class="icon"></span>
        Experimental data uploaded:
        <code class="inline">{{ submission.dataFile.filename }}</code>
      </li>
    {% else %}
      <li class="incomplete">
        <span class="icon"></span> Experimental data not uploaded
      </li>
    {% endif %}
  </ul>

{% endmacro %}
