<div class="chart-container">
  {% if show_log_toggle: %}
    {% set identifier = 'apply_log:{}'.format(loop.index0) %}
    <div>
      <input
          type="checkbox"
          name="{{ identifier }}"
          id="{{ identifier }}"
          style="margin-left: 0"
          {{ 'checked' if request.args[identifier] }} />
      <label for="{{ identifier}}">
        Apply log transform
      </label>
    </div>
  {% endif %}

  {{ chart_html|safe }}

  <div class="data-container">
    <div class="table-container">
      <table class="dataframe-table targets-table">
        <tr>
          <th>⬅</th>
          <th>Bioreplicate: Compartment</th>
          <th>Subject name</th>
          <th>Technique</th>
          <th>➡</th>
        </tr>

        {% for measurement_context in chart_form.measurement_contexts: %}
          {% set bioreplicate = measurement_context.bioreplicate %}
          {% set compartment  = measurement_context.compartment %}
          {% set technique    = measurement_context.technique %}
          {% set subject      = measurement_context.get_subject(g.db_session) %}

          <tr class="js-row" data-context-id="{{ measurement_context.id }}">
            <td>
              <input
                  type="checkbox"
                  class="js-axis js-axis-left"
                  name="axis|{{ measurement_context.id }}"
                  {{ "checked" if measurement_context.id in chart_form.left_axis_ids }}
                  value="left" />
            </td>
            <td>{{ bioreplicate.name }}: {{ compartment.name }}</td>
            <td>{{ technique.subjectType }}: {{ subject.name }}</td>
            <td>
              {{ technique.short_name }}
              {% if technique.units: %}
                in {{ technique.units }}
              {% endif %}
            </td>
            <td>
              <input
                  type="checkbox"
                  class="js-axis js-axis-right"
                  name="axis|{{ measurement_context.id }}"
                  {{ "checked" if measurement_context.id in chart_form.right_axis_ids }}
                  value="right" />
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
