{% macro render_measurements_toc(study) %}

  {% set compareData = session['compareData'] or {'targets': []} %}

  <div class="box measurements-toc">
    <h2>Measurements</h2>

    <ol>
      {% for technique in study.measurementTechniques: %}
        <li>
          <a href="#measurement-technique-{{ technique.id }}" class="js-smooth-scroll">
            {{ technique.short_name }}

            {% if technique.subjectType != 'metabolite': %}
              per {{ technique.subject_short_name }}
            {% endif %}
          </a>
        </li>
      {% endfor %}
    </ol>

    {% if study.calculationTechniques: %}
      <h2>Calculations</h2>

      <ol>
        {% for technique in study.calculationTechniques: %}
          <li>
            <a href="#calculation-technique-{{ technique.id }}" class="js-smooth-scroll">
              {{ loop.index }}. {{ technique.long_name }}
            </a>
          </li>
        {% endfor %}
      </ol>
    {% endif %}

    <a href="#" class="js-scroll-top">
      Back to top ⬆️
    </a>

    <div
        class="{{ 'hidden' if compareData['targets']|length == 0 }} compare-box js-compare-box"
        data-value='{{ compareData|tojson }}'>

      <hr>

      <span class="js-target-count">
        {{ compareData['targets']|length }}
      </span>
      comparison targets

      <a
          class="green-button small-button"
          href="{{ url_for('comparison_show_page') }}"
          style="display: block; text-align: center;">
        Compare 📈
      </a>
    </div>
  </div>

{% endmacro %}
