{% macro render_study_form(form) %}

  {% set study = form.study %}

  {% for experiment in study.experiments: %}
    <div class="experiment-container">
      <h3>{{ experiment.name }}</h3>

      <form class="chart-form">
        <input type="hidden" name="experimentId" value="{{ experiment.id }}" />

        <div class="experiment">
          <div class="controls-column">
            <p>{{ experiment.description }}</p>

            <div class="form-row">
              <select name="techniqueId" class="form-input-blue">
                {% for technique in study.measurementTechniques: %}
                  <option value="{{ technique.id }}">{{ technique.long_name }}</option>
                {% endfor %}
              </select>
            </div>

            {% for bioreplicate in experiment.bioreplicates %}
              {% set key = "bioreplicate:{}".format(bioreplicate.id) %}

              <div class="form-row">
                <input
                    type="checkbox"
                    name="{{ key }}"
                    id="{{ key }}" />
                <label for="{{ key }}">
                  {{ bioreplicate.name }}
                </label>
              </div>
            {% endfor %}

            {% set key = "bioreplicate:{}:_average".format(experiment.name) %}
            <div class="form-row">
              <input
                type="checkbox"
                name="{{ key }}"
                value="_average"
                id="{{ key }}" />
              <label for="{{ key }}">
                Average {{ experiment.name }}
              </label>
            </div>

            <div class="form-row">
              <a href="#" class="white-button clear-chart">Clear</a>
            </div>
          </div>

          <div class="chart-column chart">
            <div class="chart-placeholder">
              📊
            </div>
          </div>
        </div>
      </form>
    </div>
  {% endfor %}

{% endmacro %}
