{% from 'utils/_post_button.html' import post_button %}

{% extends '_layout.html' %}

{% block title %}: Manage study {{ study.studyId }}{% endblock %}

{% block content %}
  <div class="container study-page study-manage-page" data-study-id="{{ study.studyId }}">
    {% include 'pages/studies/_header.html' %}

    <article>
      <h1>{{ study.studyName }}</h1>

      {% include 'pages/studies/_navigation_buttons.html' %}

      <h2>Private Unique Identifier</h2>

      <p>
        This private ID can be used to gain access to the study for
        editing purposes. Only share it with other users that need that
        access.
      </p>

      <p>
        <div class="copy-button-wrapper flex-row flex-grow">
          <button type="button" class="js-copy-button copy-button green-button">
            Copy 📋
          </button>
          <input
              type="text"
              value="{{ study.uuid }}"
              class="js-export-url export-url form-input-blue full"
              readonly />
        </div>
      </p>

      <h2>Edit study</h2>

      <p>
        To re-upload the data or apply changes to the experimental design, you
        need to go through the submission process again
        (<a href="{{ url_for('upload_status_page') }}">Upload data</a>)
        and choose to update this study.
      </p>

      {% set lastSubmission = study.find_last_submission(g.db_session) %}

      {% if lastSubmission: %}
        <p>
          You can also edit the latest submission that updated this study by
          clicking on this button:
        </p>

        <p>
          {{ post_button("Edit submission", url_for('edit_submission_action', id=lastSubmission.id)) }}
        </p>
      {% endif %}

      <h2>Models and other calculations</h2>

      <p>
        Select a type of calculation to perform on the study's measurements.
        The results will be available for visualization once the calculation is
        finished.
      </p>

      <br>

      <form
          action="{{ url_for('study_calculations_action', studyId=study.publicId) }}"
          class="simple-form js-calculation-form"
          method="POST">
        <div class="flex-row flex-gap-10">
          <div class="column full flex-column flex-gap-10">
            <div class="form-row">
              <h3>Measurement type</h3>
            </div>

            <div class="form-row">
              <label class="full">
                <span>Calculation type</span>
                <select name="type" class="form-input-blue form-input-full">
                  <option value="baranyi_roberts">Baranyi-Roberts model</option>
                </select>
              </label>
            </div>

            <div class="form-row">
              <label class="full">
                <span>Measurement technique</span>
                <select
                    name="measurementTechniqueId"
                    class="form-input-blue form-input-full js-technique-type">
                  {% for technique in study.measurementTechniques if technique.is_growth: %}
                    <option value="{{ technique.id }}">
                    {{ technique.long_name }}

                    {% if technique.subjectType != 'metabolite': %}
                      per {{ technique.subject_short_name }}
                    {% endif %}
                    </option>
                  {% endfor %}
                </select>
              </label>
            </div>

            <div class="form-row">
              <h3>Measurement subjects:</h3>
            </div>

            <div class="form-row measurement-subjects">
              {% for technique in study.measurementTechniques if technique.is_growth: %}
                <div class="box hidden flex-column flex-gap-6 js-technique-box" data-technique-id="{{ technique.id }}">
                  {% for bioreplicate in technique.get_bioreplicates(g.db_session): %}
                    {% if technique.subjectType != 'bioreplicate': %}
                      <strong>
                        Bioreplicate: {{ bioreplicate.bioreplicateId }}
                      </strong>
                    {% endif %}

                    {% for subject in technique.get_subjects_for_bioreplicate(g.db_session, bioreplicate): %}
                      <div class="flex-row flex-gap-10 js-subject-row" style="align-items: center">
                        <label>
                          <input
                              type="checkbox"
                              name="subject|{{ technique.subjectType }}|{{ subject.id }}" />
                          {{ subject.name }}
                        </label>

                        {% set preview_url = url_for(
                          "study_calculations_preview_fragment",
                          studyId=study.publicId,
                          bioreplicateUniqueId=bioreplicate.uuid,
                          subjectType=technique.subjectType,
                          subjectId=subject.id,
                          techniqueId=technique.id
                        ) %}

                        <button
                            type="button"
                            class="white-button small-button flex-right js-preview-trigger"
                            data-url="{{ preview_url }}">
                          Preview
                        </button>
                      </div>
                    {% endfor %}
                  {% endfor %}
                </div>
              {% endfor %}
            </div>

            <h3>Calculation status</h3>

            <div class="help">
              Pending, submit the form to start calculation process.
            </div>
          </div>

          <div class="column full flex-column flex-gap-10">
            <h3>Preview</h3>

            <div class="box chart-container">
              <div class="chart-container js-preview">
                <div class="chart-placeholder">
                  📊
                </div>
              </div>

              <div class="form-row">
                <label>
                  <span>y0: <span class="help">initial value of abundance</span></span>
                  <input
                      type="text"
                      name="param-y0"
                      class="form-input-blue form-input-full"
                      value="..."
                      readonly />
                </label>
              </div>

              <div class="form-row">
                <label>
                  <span>mumax: <span class="help">maximum growth rate (1/time)</span></span>
                  <input
                      type="text"
                      name="param-mumax"
                      class="form-input-blue form-input-full"
                      value="..."
                      readonly />
                </label>
              </div>

              <div class="form-row">
                <label>
                  <span>K: <span class="help">carrying capacity (max. abundance)</span></span>
                  <input
                      type="text"
                      name="param-K"
                      class="form-input-blue form-input-full"
                      value="..."
                      readonly />
                </label>
              </div>

              <div class="form-row">
                <label>
                  <span>
                    h0:
                    <span class="help">
                      parameter specifying the initial physiological state of
                      organisms (e.g. cells) and in consequence the lag phase (h0
                      = max growth rate * lag phase)
                    </span>
                  </span>
                  <input
                      type="text"
                      name="param-h0"
                      class="form-input-blue form-input-full"
                      value="..."
                      readonly />
                </label>
              </div>
            </div>

            <div class="flex-column flex-gap-10">
              <input type="submit" class="flex-end" value="Calculate" />
            </div>
          </div>
        </div>
      </form>
    </article>
  </div>

  {% assets "plotly_js" %}
  <script src="{{ ASSET_URL }}" type="text/javascript"></script>
  {% endassets %}
{% endblock %}
