{% from 'utils/_dataframe.html' import render_dataframe %}
{% from 'pages/studies/_measurements_toc.html' import render_measurements_toc %}

{% extends '_layout.html' %}

{% block title %}: Study {{ study.studyId }}{% endblock %}

{% block content %}
  <div class="container study-page">
    {% include 'pages/studies/_header.html' %}

    <article>
      <h1>{{ study.studyName }}</h1>

      {% include 'pages/studies/_navigation_buttons.html' %}

      <h2>Basic information</h2>

      <p>
        {% if study.studyURL: %}
          <strong>Publication URL</strong>: {{ study.studyURL|urlize(target="_blank") }}
          <br>
        {% endif %}
      </p>

      {% if study.studyDescription: %}
        <p>{{ study.studyDescription }}</p>
      {% endif %}

      <h2>Measurements</h2>

      <p>
        To explore the data in graphical form, click "Compare" on the
        measurements you're interested in and visit the "Comparison" page from
        the panel in the upper-right corner.
      </p>

      <div class="flex-row">
        <div class="measurement-techniques">
          {% for technique in study.measurementTechniques: %}
            <div class="subform-container technique-container">
              <h3 id="measurement-technique-{{ technique.id }}">
                {{ loop.index }}. {{ technique.long_name }}

                {% if technique.subjectType != 'metabolite': %}
                  per {{ technique.subject_short_name }}
                {% endif %}
              </h3>

              <p>
                <strong>{{ technique.measurements|length }}</strong> total measurements

                {% if technique.units != '': %}
                  recorded in <strong>{{ technique.units }}</strong>.
                {% endif %}
              </p>

              {% if technique.description: %}
                <p>{{ technique.description }}</p>
              {% endif %}

              <br>

              <table class="dataframe-table measurements-table">
                <tr>
                  <th>Actions</th>
                  <th>Subject</th>
                  <th>Time period</th>
                  <th>Measurements</th>
                </tr>

                {% for (bioreplicate, compartment), contexts in technique.get_grouped_contexts(): %}
                  {% if technique.subjectType != 'bioreplicate': %}
                    <tr class="js-table-row">
                      <th colspan="4" align="center">
                        Bioreplicate: {{ bioreplicate.name }}, Compartment: {{ compartment.name }}
                      </th>
                    </tr>

                    {% if contexts|length == 0: %}
                      <tr class="js-table-row">
                        <td colspan="4" align="center">
                          <em>No measurements</em>
                        </td>
                      </tr>
                    {% endif %}
                  {% endif %}

                  {% for measurement_context in contexts: %}
                    {% set subject = measurement_context.get_subject(g.db_session) %}
                    {% set measurements = measurement_context.measurements %}

                    <tr class="js-table-row">
                      <td>
                        <div class="js-compare-container" data-target-identifier="{{ measurement_context.id }}">
                          <span class="js-compare" data-tooltip="Compare">
                            <a
                                href="#"
                                class="white-button small-button">
                              ↔
                            </a>
                          </span>

                          <span
                              class="js-uncompare hidden"
                              data-tooltip="Comparing, click to remove from comparison">
                            ✅
                            <a
                                href="#"
                                class="white-button small-button">
                              ➖
                            </a>
                          </span>
                        </div>
                      </td>
                      <td>
                        {% if technique.subjectType == 'bioreplicate': %}
                          {{ subject.name }}
                        {% elif technique.subjectType == 'strain': %}
                          <a href="{{ url_for('strain_show_page', id=subject.id) }}">
                            {{ subject.name }}
                          </a>
                        {% elif technique.subjectType == 'metabolite': %}
                          <a href="{{ url_for('metabolite_show_page', chebiId=subject.id) }}">
                            {{ subject.name }}
                          </a>
                        {% endif %}
                      </td>
                      <td>{{ measurements[0].timeInHours }}h - {{ measurements[-1].timeInHours }}h</td>

                      <td class="numeric">
                        <div class="measurements-list truncate">
                          {{ measurements|map(attribute='value')|map_scientific|join(', ') }}
                        </div>
                      </td>
                    </tr>
                  {% endfor %}
                {% endfor %}
              </table>
            </div>
          {% endfor %}

          <h2>Calculations</h2>

          <p>
            TODO Make this comparable to the measurements
          </p>

          {% for technique in study.calculationTechniques: %}
            <div class="subform-container technique-container">
              <h3 id="calculation-technique-{{ technique.id }}">
                {{ loop.index }}. {{ technique.long_name }}
              </h3>

              <br>

              <table class="dataframe-table measurements-table">
                <tr>
                  <th>Actions</th>
                  <th>Subject</th>
                  <th>Coefficients</th>
                </tr>

                {% for calculation in technique.calculations: %}
                  {% if calculation.subjectType != 'bioreplicate': %}
                    <tr class="js-table-row">
                      <th colspan="3" align="center">
                        Bioreplicate: {{ calculation.bioreplicate.name }}
                      </th>
                    </tr>
                  {% endif %}

                  {% set bioreplicate = calculation.bioreplicate %}
                  {% set subject = calculation.get_subject(g.db_session) %}
                  {% set subjectClass = subject.__class__.__name__ %}

                  <tr class="js-table-row">
                    <td>
                      {% set targetIdentifier = "{}|{}|{}|{}".format(
                      bioreplicate.id,
                      technique.id,
                      subjectClass|lower,
                      subject.id
                      ) %}

                      <div class="js-compare-container" data-target-identifier="{{ targetIdentifier }}">
                        <span class="js-compare" data-tooltip="Compare">
                          <a
                              href="#"
                              class="white-button small-button">
                            ↔
                          </a>
                        </span>

                        <span
                            class="js-uncompare hidden"
                            data-tooltip="Comparing, click to remove from comparison">
                          ✅
                          <a
                              href="#"
                              class="white-button small-button">
                            ➖
                          </a>
                        </span>
                      </div>
                    </td>
                    <td>
                      {% if calculation.subjectType == 'bioreplicate': %}
                        {{ subject.name }}
                      {% elif calculation.subjectType == 'strain': %}
                        <a href="{{ url_for('strain_show_page', id=subject.id) }}">
                          {{ subject.name }}
                        </a>
                      {% elif calculation.subjectType == 'metabolite': %}
                        <a href="{{ url_for('metabolite_show_page', chebiId=subject.id) }}">
                          {{ subject.name }}
                        </a>
                      {% endif %}
                    </td>

                    <td class="numeric">
                      {{ calculation.coefficients|tojson }}
                    </td>
                  </tr>
                {% endfor %}
              </table>
            </div>
          {% endfor %}
        </div>

        <div class="toc-container">
          {{ render_measurements_toc(study) }}
        </div>
      </div>
    </article>
  </div>
{% endblock %}
