{% from 'utils/_dataframe.html' import render_dataframe %}

{% extends '_layout.html' %}

{% block title %}: Study {{ study.studyId }}{% endblock %}

{% block content %}
  <div class="container study-page">
    <nav>
      {% set projectUrl = url_for('project_show_page', projectId=study.project.projectId) %}

      <ul>
        <li class="small">
          Project
          <a href="{{ projectUrl }}">{{ study.project.projectId }}</a>:
          {{ study.project.projectName }}
        </li>
        <li class="small">Study {{ study.studyId }}</li>
      </ul>
    </nav>

    <article>
      <h1>{{ study.studyName }}</h1>

      {% if g.current_user and g.current_user.uuid in study.linkedUserUuids: %}
        <br>
        <div class="warning-message">
          Private UUID: <code class="inline">{{ study.uuid }}</code>

          <div class="help">
            This private ID can be used to gain access to the study for
            editing purposes. Only share it with other users that need that
            access.
          </div>
        </div>
      {% endif %}

      <p>
        <a href="{{ url_for('dashboard_index_page', studyId=study['studyId']) }}" class="white-button">
          📊 Visualize
        </a>

        <a href="{{ url_for('study_export_page', studyId=study['studyId']) }}" class="white-button">
          ⬇ Export data
        </a>
      </p>

      <h2>Basic information</h2>

      <p>
        {% if study.studyURL: %}
          <strong>Publication URL</strong>: {{ study.studyURL|urlize(target="_blank") }}
          <br>
        {% endif %}
      </p>

      <p>
        {{ study.studyDescription }}
      </p>

      <h2>Measurement techniques</h2>

      <p>
        To explore the data in graphical form, click "Compare" on the
        measurements you're interested in and visit the "Comparison" page from
        the panel in the upper-right corner.
      </p>

      <div class="measurement-techniques">
        {% for technique in study.measurementTechniques: %}
          <div class="technique-container">
            <h3>
              {{ technique.long_name }}

              {% if technique.subjectType != 'metabolite': %}
                per {{ technique.subject_short_name }}
              {% endif %}

              {% if technique.units != '': %}
                measured in {{ technique.units }}
              {% endif %}

              ({{ technique.measurements|length }} measurements)
            </h3>

            <br>

            <table class="dataframe-table measurements-table">
              <tr>
                <th>Actions</th>
                <th>Subject</th>
                <th>Time period</th>
                <th colspan="3">Measurements</th>
              </tr>

              {% if technique.subjectType == 'bioreplicate': %}
                <tr class="js-table-row">
                  <th colspan="3"></th>
                  <th>Count</th>
                  <th>Mean</th>
                  <th>STD</th>
                </tr>
              {% endif %}

              {% for bioreplicate, bioreplicate_measurements in technique.measurements_by_bioreplicate(g.db_session): %}
                {% if technique.subjectType != 'bioreplicate': %}
                  <tr class="js-table-row">
                    <th colspan="3" align="center">
                      Bioreplicate: {{ bioreplicate.bioreplicateId }}
                    </th>
                    <th>Count</th>
                    <th>Mean</th>
                    <th>STD</th>
                  </tr>
                {% endif %}

                {% for subject, measurements in technique.measurements_by_subject(g.db_session, bioreplicate_measurements): %}
                  {% set subjectClass = subject.__class__.__name__ %}

                  <tr class="js-table-row">
                    <td>
                      {% set targetIdentifier = "{}|{}|{}|{}".format(
                        bioreplicate.bioreplicateUniqueId,
                        technique.id,
                        subjectClass|lower,
                        subject.id
                      ) %}

                      <div class="js-compare-container" data-target-identifier="{{ targetIdentifier }}">
                        <span class="js-compare">
                          <a
                              href="#"
                              class="white-button small-button">
                            ↔ Compare
                          </a>
                        </span>

                        <span class="js-uncompare hidden">
                          ✅ Comparing
                          <a
                              href="#"
                              class="white-button small-button">
                            ➖
                          </a>
                        </span>
                      </div>
                    </td>
                    <td>
                      {% if technique.subjectType == 'bioreplicate': %}
                        {{ subject.name }}
                      {% elif technique.subjectType == 'strain': %}
                        <a href="{{ url_for('strain_show_page', id=subject.id) }}">
                          {{ subject.name }}
                        </a>
                      {% elif technique.subjectType == 'metabolite': %}
                        <a href="{{ url_for('metabolite_show_page', chebi_id=subject.id) }}">
                          {{ subject.name }}
                        </a>
                      {% endif %}
                    </td>
                    <td>{{ measurements[0].timeInHours }}h - {{ measurements[-1].timeInHours }}h</td>

                    <td class="numeric">
                      {{ measurements|length }}
                    </td>
                    <td class="numeric">
                      {{ "{:.2E}".format(measurements|mean('value')) }}
                    </td>
                    <td class="numeric">
                      {{ "{:.2E}".format(measurements|std('value')) }}
                    </td>
                  </tr>
                {% endfor %}
              {% endfor %}
            </table>
          </div>
        {% endfor %}
      </div>
    </article>
  </div>
{% endblock %}
