{% macro render_step2_form(submission, form) %}

{% include 'pages/upload/step2/_info.html' %}

<p>
  <form
      class="simple-form"
      action="{{ url_for('submit_step_2_upload') }}"
      method="POST">
    <div class="form-row strain-select-wrapper">
      <label class="full">
        <span>Search microbial strain:</span>
        <select
            name="strains"
            multiple="multiple"
            class="strain-select js-multiple-strain-select">
          {% for (id, name) in submission.fetch_strains(): %}
          <option value={{ id }} selected="selected">{{ name }}</option>
          {% endfor %}
        </select>
      </label>
    </div>

    <div class="form-row">
      <ul class="strain-list">
        <li>Select strains from the list</li>
      </ul>
    </div>

    <div class="form-row">
      <a href="#" class="green-button js-add-strain">Add new strain</a>
      <div class="flex-right">
        <input type="submit" class="green-button" value="Save" />
      </div>
    </div>

    <template class="strain-list-item">
      <li>
        <strong>${name}</strong>:
        <a href="https://www.ncbi.nlm.nih.gov/datasets/taxonomy/${id}/">NCBI:${id}</a>
      </li>
    </template>

    <template class="new-strain" data-initial='{{ submission.new_strains|tojson }}'>
      <div class="form-row js-new-strain-row-1">
        <label style="width: 50%;">
          <span>Name of the microbial strain:</span>
          <input
              required
              type="text"
              class="form-input-full form-input-blue"
              name="name" />
        </label>

        <label style="width: 50%;">
          <span>Species:</span>
          <select
              required
              class="form-input-full form-input-blue js-single-strain-select"
              name="species">
          </select>
        </label>
      </div>

      <div class="form-row js-new-strain-row-2">
        <label class="full">
          <div>Description</div>
          <textarea
              required
              rows=2
              class="form-input-full form-input-blue"
              name="description"></textarea>
        </label>

        <div class="no-label">
          <a href="#" class="green-button js-remove-new-strain">Remove</a>
        </div>
      </div>
    </template>
  </form>
</p>

{% endmacro %}
