{% extends '_layout.html' %}

{% block title %}: Strain {{ strain.name }}{% endblock %}

{% block content %}
  <div class="container">
    <article>
      <h2>{{ strain.name }}</h2>

      <p>Description: {{ strain.description }}</p>

      <p>
        Part of study:
        <a href="{{ url_for('study_show_page', studyId=strain.study.publicId) }}">
          {{ strain.study.name }}
        </a>
      </p>

      <p>
        TODO information on strain

        <ul>
          <li>How common is it? Percentage of studies that include it?</li>
          <li>Related strains?</li>
          <li>Fetch and embed a description from NCBI?</li>
        </ul>
      </p>

      <p>
        {% set ncbi_id = strain.NCBId %}
        {% set ncbi_url = "https://www.ncbi.nlm.nih.gov/datasets/taxonomy/{}/".format(ncbi_id) %}
        More information at NCBI: <a href="{{ ncbi_url }}">NCBI:{{ ncbi_id }}</a>
      </p>

    </article>
  </div>
{% endblock %}
