<!DOCTYPE html>
<html>
  <head>
    <title>
      µGrowthDB{% block title %}{% endblock %}
    </title>

    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" sizes="72x72">

    {% assets "app_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css" media="screen" />
    {% endassets %}

    {% assets "app_js" %}
    <script src="{{ ASSET_URL }}" type="text/javascript"></script>
    {% endassets %}
  </head>

  <body>
    <aside id="page-sidebar">
      <div class="close-sidebar">
        <a href="#">
          <img alt="Close sidebar" src="{{ url_for('static', filename='images/chevrons-left.svg') }}" />
        </a>
      </div>

      <header>
        <img style="min-width: 300px;" src="{{ url_for('static', filename='images/logo_sidebar3.png') }}" />
      </header>

      <nav>
        <ul class="nav-links">
          <li>
            <a href="{{ url_for('static_home_page') }}" class="home-link">
              <div class="icon">🏠</div>
              Home
            </a>
          </li>
          <li>
            <a href="{{ url_for('search_index_page') }}">
              <div class="icon">🔍</div>
              Search
            </a>
          </li>
          <li>
            <a href="{{ url_for('dashboard_index_page') }}">
              <div class="icon">📈</div>
              Dashboard
            </a>
          </li>
          <li>
            <a href="{{ url_for('upload_status_page') }}">
              <div class="icon">📤</div>
              Upload data
            </a>
          </li>
          <li>
            <a href="{{ url_for('user_show_page') }}">
              <div class="icon">🧑‍🔬</div>
              Profile
            </a>
          </li>
          <li>
            <a href="{{ url_for('static_help_page') }}">
              <div class="icon">❓</div>
              Help
            </a>
          </li>
          <li>
            <a href="{{ url_for('static_about_page') }}">
              <div class="icon">🥼</div>
              About us
            </a>
          </li>
        </ul>
      </nav>
    </aside>

    <main id="main">
      <div class="open-sidebar">
        <a href="#">
          <img alt="Open sidebar" src="{{ url_for('static', filename='images/chevrons-right.svg') }}" />
        </a>
      </div>

      {% block content %}{% endblock %}

      <div class="hidden compare-box js-compare-box">
        <span class="js-target-count">0</span> comparison targets

        <a class="green-button small-button" href="{{ url_for('comparison_show_page') }}">Compare</a>
      </div>
    </main>
  </body>
</html>
