{% extends '_layout.html' %}

{% block title %}: Export study {{ studyId }}{% endblock %}

{% block content %}
  <div class="container export-page" data-study-id="{{ studyId }}">
    <h1>{{ study['studyName'] }}</h1>

    <p>
      {{ study['studyDescription'] }}
    </p>

    <form
        class="simple-form"
        action="{{ url_for('study_download_zip', studyId=studyId) }}"
        method="GET">
      <div class="flex-row">
        <div class="column column-left">
          <h2>Export options</h2>

          <div class="section-delimiter">
            <h4>CSV Delimiter</h4>

            <label>
              <input type="radio" name="delimiter" value="comma" checked />
              Comma
            </label>

            <label>
              <input type="radio" name="delimiter" value="tab" />
              Tab
            </label>

            <label>
              <input type="radio" name="delimiter" value="custom" />

              Custom

              <input
                  type="text"
                  name="custom_delimiter"
                  value="|"
                  maxlength="1"
                  class="form-input-blue" />
            </label>
          </div>

          <div class="section-all-none">
            <h3>Biological replicates</h3>

            <br>

            <div class="form-row">
              <button type="button" class="js-select-all green-button">Select all</button>
              <button type="button" class="js-select-none green-button">Select none</button>
            </div>
          </div>

          {% for experimentId in study['experiments']['experimentId']: %}
            <div class="section-experiment">
              <h4>Experiment: {{ experimentId }}</h4>

              {% set bioreps = study['biological_replicates']  %}

              {% for biorep_id in bioreps[bioreps['experimentId'] == experimentId]['bioreplicateId']: %}
                <label>
                  <input type="checkbox" name="bioreplicates" value="{{ biorep_id }}" checked />
                  {{ biorep_id }}
                </label>
              {% endfor %}

              <label>
                <input type="checkbox" name="bioreplicates" value="Average {{ experimentId }}" />
                Average {{ experimentId }}
              </label>
            </div>
          {% endfor %}
        </div>

        <div class="column column-right">
          <h2>Preview (first 5 rows)</h2>

          <div class="preview js-preview">

          </div>
        </div>
      </div>

      <div class="form-row submit-row">
        <input type="submit" class="green-button" value="Download ZIP file" />

        <div class="separator">or</div>

        <div class="copy-url-wrapper flex-row flex-grow">
          <button type="button" class="js-copy-button copy-button green-button">Copy 📋</button>
          <input type="text" value="" class="js-export-url export-url form-input-blue" readonly />
        </div>
      </div>
    </form>
  </div>
{% endblock %}
