{% extends '_layout.html' %}

{% block title %}: Profile{% endblock %}

{% block content %}
  <div class="container profile-page">
    <h2>Profile page for {{ g.current_user.name }}</h2>

    <p>
      ORCID: {{ g.current_user.orcidUrl|urlize(target="_blank", rel="noreferrer") }}
    </p>

    {% include 'shared/flashes.html' %}

    <h3>Your current user UUID:</h3>

    <p>
      <div class="copy-button-wrapper flex-row flex-grow">
        <button type="button" class="js-copy-button copy-button green-button">Copy 📋</button>
        <input
            type="text"
            value="{{ g.current_user.uuid }}"
            class="form-input-blue"
            readonly />
      </div>
    </p>

    <h3>Your projects</h3>

    {% if projects: %}
      <ul>
        {% for project in projects: %}
          <li>
            <a href="{{ url_for('project_show_page', projectId=project.publicId) }}">
              [{{ project.publicId }}] {{ project.name }}
            </a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    <form action="{{ url_for('user_claim_project_action') }}" class="simple-form" method="POST">
      <div class="form-row">
        <label class="uuid">
          <span>Claim project by UUID:</span>
          <input name="uuid" class="form-input-full form-input-blue" type="text" required />
        </label>

        <input type="submit" class="flex-end" value="Get access" />
      </div>
    </form>

    <h3>Your studies</h3>

    {% if studies: %}
      <ul>
        {% for study in studies: %}
          <li>
            <a href="{{ url_for('study_show_page', studyId=study.publicId) }}">
              [{{ study.publicId }}] {{ study.name }}
            </a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    <form action="{{ url_for('user_claim_study_action') }}" class="simple-form" method="POST">
      <div class="form-row">
        <label class="uuid">
          <span>Claim study by UUID:</span>
          <input name="uuid" class="form-input-full form-input-blue" type="text" required />
        </label>

        <input type="submit" class="flex-end" value="Get access" />
      </div>
    </form>

    {% if custom_strains: %}
      <h3>Your custom strains</h3>

      <ul>
        {% for strain in custom_strains: %}
          <li>
            <a href="{{ url_for('strain_show_page', id=strain.id) }}">
              {{ strain.name }}
            </a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
{% endblock %}
