{% macro render_step2_form() %}

<p>Select all the microbial strains used in the study</p>

<p>
  Using the search tap bellow, select all the microbial strains used in your
  study as well as any uncultured communities, click on 'add' to include the
  selected option.
</p>

<p>
  If you do not find all of the microbial strains define you own by specifying
  its name and parent strain species. Once you are sure all the different
  community members are defined, click on 'save'.
</p>

<p>
  TODO form
</p>

{% endmacro %}
