{% macro render_step5_status(submission_form, submission) %}

  <ul class="upload-status">
    {% set experiments = submission.studyDesign['experiments'] %}
    {% set bioreplicates = submission.studyDesign['experiments']|sum(attribute='bioreplicates', start=[]) %}

    {% if experiments|length > 0: %}
      <li class="complete">
        <span class="icon"></span>
        <span>{{ experiments|length }} experiment(s):</span>
        <span class="truncate">
          {{ experiments|map(attribute='name')|join_tag('strong') }}
        </span>
      </li>
    {% else %}
      <li class="incomplete">
        <span class="icon"></span> No experiments defined
      </li>
    {% endif %}

    {% if bioreplicates|length > 0: %}
      <li class="complete">
        <span class="icon"></span>
        <span>{{ bioreplicates|length }} bioreplicate(s):</span>
        <span class="truncate">
          {{ bioreplicates|map(attribute='name')|join_tag('strong') }}
        </span>
      </li>
    {% else %}
      <li class="incomplete">
        <span class="icon"></span> No biological replicates defined
      </li>
    {% endif %}
  </ul>

{% endmacro %}
