.dashboard-page {
  .experiment {
    display: flex;
    column-gap: 20px;
    margin-top: 20px;

    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;

    h3 {
      margin-top: 0;
    }

    .controls-column {
      width: 30%;
    }

    .chart-column {
      width: 70%;
    }

    .chart-placeholder {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 52px;
      opacity: 0.5;
    }
  }
}
