.dashboard-page {
  details.experiment-container {
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;

    summary:hover {
      cursor: pointer;
    }

    summary:focus {
      outline: none;
      font-weight: 600;
    }
  }

  .experiment {
    display: flex;
    column-gap: 20px;

    .controls-column {
      width: 30%;
    }

    .chart-column {
      width: 70%;
    }

    .chart-placeholder {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 52px;
      opacity: 0.5;
    }
  }
}
