.export-page {
  .column-left { width: 40%; }
  .column-right { width: 60%; }

  .section-delimiter {
    label {
      display: block;
      line-height: 32px;
    }

    input[name="custom_delimiter"] {
      width: 40px;
      height: 32px;
    }
  }

  .section-experiment {
    label {
      display: block;
      line-height: 2;
    }
  }

  .preview {
    overflow-x: auto;

    pre {
      font-family: monospace;
    }
  }

  .export-url {
    width: 100%;
  }

  .submit-row {
    column-gap: 20px !important;
    line-height: 42px;

    .copy-button {
      white-space: nowrap;
      border-radius: var(--border-radius) 0 0 var(--border-radius);
      cursor: pointer;
    }

    input[type="text"] {
      border-radius: 0 var(--border-radius) var(--border-radius) 0;
    }
  }
}
