@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');

.clear {
  clear: both;
}

:root {
  --sidebar-width: 320px;
}

body *{
    font-family: 'Public Sans', sans-serif !important;
}

#page_sidebar {
  position: fixed;
  width: var(--sidebar-width);
  background-color: #caeaea;
  height: 100%;
  padding-top: 20px;
}

#main {
  margin-left: var(--sidebar-width);
  padding-top: 20px;
}

header img {
  margin: 0 auto;
}

.container {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 100px;
}

.about-page .map {
  float: left;
  width: 50%;
  background-color: gray;
}

.about-page .info {
  float: left;
  width: 50%;
}
